<% if(locals.updated_category){%>
        <h1>ed</h1>
<form method="POST" action="/admin/category/:<%=locals.updated_category._id%>/edit">
        Name:<br>
        <input type="text" name="name" placeholder="<%=locals.updated_category.name%>">  <br>
        <input type="submit" name="submit">
</form>
<% } else{%> 
<form method="POST" action="/admin/category/:id/edit">
        Name:<br>
        <input type="text" name="name"><br>
        <input type="submit" name="submit">
</form>
<%}%>